@media (max-width: 1171px) {
    .grid_container {
        grid-template-rows: 80px 392px;
    }
}

@media (max-width:867px) {
    .grid_container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 260px 392px;
        grid-template-areas:
        "HEADER HEADER"
        "ARTICLE ARTICLE"
        "SECTION SECTION";

    }

    nav, .header_button {
        display: none;

    }

    .burger {
        display: block;
    }
    .article_title {
        font-size: 48px;
        line-height: 56px;
    }

    .article_text {
        margin-block: 20px;
    }
} 